body{
    background-color: black;
}
header#hd{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    padding: 1vw 0;
    & > *{
        margin: 0 2vw; //화면의 비율 2%를 좌우여백 부여
    }
    a{
        color: white;
    }
    #allMenu{
        button{
            width: 30px;
            background-color: transparent;
            display: block; //버튼은 수평정렬이기 때문에 아래 미세한 여백이 있으므로 디스플레이 블록 넣어줌
            // & > *{ //나(&)의 자식들(*) 모두
            //     display: block;
            //     height: 2px;
            //     background-color: white;
            // } //가상선택자는 *안에 포함되지 않으므로 틀린 식
            span,
            &:after,
            &:before{
                display: block;
                height: 2px;
                background-color: white;
            }
            span{
                margin: 8px 0;
            }
            &:after,
            &:before{
                content: '';
            }
        }
    }
    h1{
        a{
            display: block;
            max-width: 180px;
            min-width: 120px;
            width: 22vw;
            img{
                display: block;
                width: 100%;
            }
        }
    }
}

//gnb
// id로 시작하는 애들은 밖으로 빼도 됨
#gnb{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    li{
        position: relative;
        a.depth1{
            font-size: 1.6em;
            display: block;
            padding: 0 2em;
        }
        .depth2{
            position: absolute;
            display: none;
            ul{
                li{
                    a{

                    }
                }
            }
        }
    }
}

//상단 오른쪽 검색버튼과 검색레이어
#searchWrap{
    .search_icon{
        width: 35px;
        height: 35px;
        background: url(../img/i_search_white.svg) transparent no-repeat;
    }
    .searchWbox{
        display: none;
        input{

        }
        .b_search_icon{

        }
    }
}