body{
    background-color: black;
}
header#hd{
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    a{
        color: white;
    }
    #allMenu{
        button{
            width: 30px;
            background-color: transparent;
            // & > *{ //나(&)의 자식들(*) 모두
            //     display: block;
            //     height: 2px;
            //     background-color: white;
            // } //가상선택자는 *안에 포함되지 않으므로 틀린 식
            span,
            &:after,
            &:before{
                display: block;
                height: 2px;
                background-color: white;
            }
            span{
                margin: 8px 0;
            }
            &:after,
            &:before{
                content: '';
            }
        }
    }
    h1{
        a{
            display: block;
            max-width: 180px;
            min-width: 120px;
            width: 22vw;
            img{
                display: block;
                width: 100%;
            }
        }
    }
}